.card-box{
    display: grid;
    margin: 20px;
    place-items: center;
   
    width:260px;
    box-shadow: 0 8px 8px -4px rgb(68, 68, 237);
    padding: 7px;
    background: #eee;
    border-radius: 4px;
}
.card-body{
    padding: 13px;
    display: grid;
    place-items: center;
}
.card-img{
    width: max-content;
}
.card-img img{
    object-fit: contain;
    width: 200px;
}
.card-item-name{
    padding: 15px 0;
    width: calc(260px - 22px);
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
}
.card-item-price{
    padding-bottom: 15px;
    font-weight: 600;
    color: green;
}

.product-details-btn {
    padding: 7px 11px;
    outline: none;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
    border-radius: 3px;
    margin-top: 11px;
  }